@media screen and (min-width: 451px) and (max-width: 768px) {
  .this-is-me .cont {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 25px;
    align-items: center;
    justify-content: center;
    grid-template-areas: "info img";
  }
  .sec__this-is-me__grid {
    grid-area: info;
  }
  .img__this-is-me__grid {
    grid-area: img;
  }
  .this-is-me2 {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 35px;
    align-items: center;
    justify-content: center;
    grid-template-areas: "img2 info2";
  }
  .img__this-is-me2 {
    grid-area: img2;
  }
  .text__this-is-me2 {
    grid-area: info2;
  }
  .services {
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .info__services {
    flex-basis: 48%;
    margin-bottom: 30px;
  }
  .blue-section {
    grid-template-columns: 1fr 1fr;
    padding: 45px 0;
  }
}
@media screen and (min-width: 769px) and (max-width: 1199px) {
  .cont {
    max-width: 1100px;
    margin: 0 auto;
  }
  .this-is-me .cont {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 25px;
    align-items: center;
    justify-content: center;
    grid-template-areas: "info img";
  }
  .sec__this-is-me__grid {
    grid-area: info;
  }
  .img__this-is-me__grid {
    grid-area: img;
  }
  .this-is-me2 {
    padding: 20px 0;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 35px;
    align-items: center;
    justify-content: center;
    grid-template-areas: "img2 info2";
  }
  .this-is-me2 img {
    max-width: 400px;
  }
  .img__this-is-me2 {
    grid-area: img2;
  }
  .text__this-is-me2 {
    grid-area: info2;
  }
  .burger__header .fa {
    display: none;
  }
  .burger__header {
    display: none;
  }
  .nav__header {
    display: inline-block;
    align-self: center;
  }
  .nav__header a {
    padding: 0 10px;
  }
  .services {
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .info__services {
    flex-basis: 32%;
    margin-bottom: 30px;
  }
  .start__services {
    margin: 40px 0;
  }
  .info__services .fa {
    margin-bottom: 10px;
    font-size: 1.7rem;
  }
  .blue-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 45px 0;
  }
}
@media screen and (min-width: 1200px) {
  .cont {
    max-width: 1500px;
    margin: 0 auto;
  }
  .this-is-me {
    margin: 30px auto;
  }
  .this-is-me .cont {
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 25px;
    align-items: center;
    justify-content: center;
    grid-template-areas: "info img";
  }
  .sec__this-is-me__grid {
    grid-area: info;
  }
  .img__this-is-me__grid {
    grid-area: img;
  }
  .this-is-me2 {
    margin: 30px auto;
    padding: 20px 0;
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 35px;
    align-items: center;
    justify-content: center;
    grid-template-areas: "img2 info2";
  }
  .this-is-me2 img {
    max-width: 450px;
  }
  .img__this-is-me2 {
    grid-area: img2;
  }
  .text__this-is-me2 {
    grid-area: info2;
  }
  .burger__header .fa {
    display: none;
  }
  .burger__header {
    display: none;
  }
  .nav__header {
    display: inline-block;
    align-self: center;
  }
  .nav__header a {
    padding: 0 10px;
  }
  .services {
    gap: 15px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto;
  }
  .info__services {
    flex-basis: 32%;
    margin-bottom: 30px;
  }
  .start__services {
    flex-basis: 100%;
    margin: 40px 0;
  }
  .info__services .fa {
    margin-bottom: 10px;
    font-size: 1.7rem;
  }
  .blue-section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 45px 0;
  }
}
