/* common css */
body {
  font-family: "Mukta", sans-serif;
}
.section {
  width: 90%;
  margin: 0 auto;
}
/* header */
header {
  margin: 10px;
}
article {
  margin: 10px;
}
header img {
  max-height: 60px;
  width: initial;
}
h1 {
  font-size: 2rem;
  line-height: 1.5;
  color: rgba(41, 41, 41, 0.781);
  margin-bottom: 25px;
}
.text {
  line-height: 1.5;
  font-size: 1rem;
  color: rgba(80, 80, 80, 0.671);
  margin-bottom: 25px;
}
/* cards */
.cards {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 40px;
}
.card {
  height: 360px;
  width: 360px;
  align-self: center;
  border-radius: 10px;
}
.card p {
  margin: 0;
  color: #fff;
  font-size: 1.8rem;
  text-transform: uppercase;
  text-align: center;
  margin-top: 150px;
}
.card1 {
  background-image: url(https://picsum.photos/id/237/400/400);
}
.card2 {
  background-image: url(https://picsum.photos/id/1015/400/400);
}
.card3 {
  background-image: url(https://picsum.photos/id/1016/400/400);
}
.card4 {
  background-image: url(https://picsum.photos/id/1014/400/400);
}
.card5,
.card6,
.card7,
.card8,
.card9,
.card10,
.card11,
.card12 {
  display: none;
}
/* footer */
.foot-grid {
  display: grid;
  gap: 15px;
  margin-top: 30px;
  padding: 20px;
  background-color: rgb(226, 226, 226);
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 10%;
  grid-template-areas:
    "links"
    "form"
    "uncopy";
}
.links {
  grid-area: links;
}
.links p {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.links i {
  font-size: 30px;
  margin-right: 15px;
}
.touch {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.touch p {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.touch input,
textarea {
  border: none;
  color: black;
  background-color: transparent;
  border-bottom: 1px solid rgb(110, 110, 110);
  margin-bottom: 10px;
}
button {
  padding: 13px 0;
  margin: 15px;
  text-transform: uppercase;
  background-color: rgb(54, 54, 54);
  border: none;
  border-radius: 5px;
  color: rgb(218, 218, 218);
}
.copy {
  grid-area: uncopy;
}
@media screen and (min-width: 1024px) {
  h1 {
    font-size: 2.2rem;
  }
  .text {
    font-size: 1.2rem;
  }
  .cards {
    flex-direction: row;
    gap: 20px;
  }
  .card {
    flex-basis: 32%;
    max-height: 360px;
  }
  .card1 {
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card2 {
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card3 {
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card4 {
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card5 {
    display: inline-block;
    background-image: url(https://picsum.photos/id/1035/400/400);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card6 {
    display: inline-block;
    background-image: url(https://picsum.photos/id/1036/400/400);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card7 {
    display: inline-block;
    background-image: url(https://picsum.photos/id/1037/400/400);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card8 {
    display: inline-block;
    background-image: url(https://picsum.photos/id/1038/400/400);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card9 {
    display: inline-block;
    background-image: url(https://picsum.photos/id/1039/400/400);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card10 {
    display: inline-block;
    background-image: url(https://picsum.photos/id/1040/400/400);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card11 {
    display: inline-block;
    background-image: url(https://picsum.photos/id/1041/400/400);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .card12 {
    display: inline-block;
    background-image: url(https://picsum.photos/id/1042/400/400);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  .foot-grid {
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: auto 20%;
    grid-template-areas:
      "form form links"
      "uncopy . .";
  }
  .touch {
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "para ."
      "input1 input2"
      "area area"
      "btn .";
  }
  .text__touch {
    grid-area: para;
  }
  .input1__touch {
    grid-area: input1;
  }
  .input2__touch {
    grid-area: input2;
  }
  .area__touch {
    grid-area: area;
  }
  .btn__touch {
    grid-area: btn;
  }
}
